@{
  Layout = "_Layout";
}

@using RecipeBox.Models;
@model RecipeBox.Models.Tag

<h2>Add a Recipe</h2>

<h4>Add a Recipe to this Tag: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TagId)

    @Html.Label("Select Recipe")
    @Html.DropDownList("RecipeId")

    <input type="submit" value="Save" class="fancyBtn" />
}

<p class="fancyBtn"">@Html.ActionLink("Back to list", "Index")</p>