@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag;

<div class="container">
  <h2 class="text-center my-4">Tag Details</h2>
  <hr />
  <div class="d-flex flex-column align-items-center">
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

    @if(@Model.JoinEntities.Count == 0)
    {
      <p>This tag does not contain any recipes</p>
    }
    else
    {
      <h4>Recipes the tag contains:</h4>
      <ul>
      @foreach(var join in Model.JoinEntities)
      {
        <li>@join.Recipe.Name</li>
      }
      </ul>
    }
  </div>
  <div class="d-flex flex-row justify-content-center">
    <p class="fancyBtn mx-3">@Html.ActionLink("Back to categories", "Index")</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId })</p>
    <p class="fancyBtn mx-2">@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.TagId })</p>
    <p class="fancyBtn mx-3">@Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</p>
  </div>
</div>
